
/* All */

* {
    margin: 0;
    padding: 0;
}

/* Buttons Alias btn */

button.navMALout {
    text-decoration: none;
    background-color: #2f2f2f;
    color: #dec709;
    padding: 5px;
    border: #fff solid 1px;
    border-radius: 10px;
    margin: 10px;
}

button.navMALout:hover {
    text-decoration: underline;
    border: #dec709 solid 1px;
    border-radius: 10px;
}

button.navMALout:active {
    background-color: #dec709;
    color: #2f2f2f;
    border: #2f2f2f solid 1px;
    border-radius: 10px;
}
